<div class="menu" id="menu" data-menu data-ground="dark" aria-label="Menu">
  <button class="menu__close" data-menu-close>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span class="sr-only">Close menu</span>
  </button>

  <div class="menu__inner">
    <ul class="menu__list" role="list">
      <li class="menu__item" style="--i: 0"><a class="menu__link" href="/">Home</a></li>
      <li class="menu__item" style="--i: 1"><a class="menu__link" href="/#work">Case studies</a></li>
      <li class="menu__item" style="--i: 2"><a class="menu__link" href="/about/">About me</a></li>
      <li class="menu__item" style="--i: 3"><a class="menu__link" href="/contact/">Contact</a></li>
    </ul>

    <div class="menu__meta t-small">
      <span class="t-label">Get in touch</span>
      <a class="link" href="mailto:hello@miltonw.com">hello@miltonw.com</a>
      <a class="link" href="https://www.linkedin.com/in/milton-winroth/" target="_blank" rel="noopener">LinkedIn</a>
      <p class="t-label menu__clock">
        Stockholm · <span data-clock class="tabular">--:--</span>
      </p>
    </div>
  </div>
</div>
